<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <title>Calculadora</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="layout-saida">
                <p class="output-saida">512</p>
            </div>
            <div class="buttons">
                <div class="num-list">
                    <div class="num num-1">1</div>
                    <div class="num num-2">2</div>
                    <div class="num num-3">3</div>
                    <div class="num num-4">4</div>
                    <div class="num num-5">5</div>
                    <div class="num num-6">6</div>
                    <div class="num num-7">7</div>
                    <div class="num num-8">8</div>
                    <div class="num num-9">9</div>
                    <div class="num num-0">0</div>
                </div>
                <div class="operation-list">
                    <div class="operation operation-div">/</div>
                    <div class="operation operation-mul">X</div>
                    <div class="operation operation-sub">-</div>
                    <div class="operation operation-sum">+</div>
                    <div class="operation operation-equal">=</div>
                </div>
            </div>
        </div>
    </div>
    <script type='text/javascript' src="{% static 'js/js.js' %}"></script>
</body>
</html>