<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel='stylesheet'>
    <title>Calculadora</title>
</head>
<body>
    <div class="container">
        <div class="background">
            <div class="layout-saida">
                <p id='result'></p>
            </div>
            <table class='teclado'>
                <tr>
                    <td><button class="num" onclick="clean()">C</button></td>
                    <td><button class="num" onclick="back()"><</button></td>
                    <td><button class="num" onclick="insert('/')">/</button></td>
                    <td><button class="num" onclick="insert('*')">x</button></td>
                </tr>
                <tr>
                    <td><button class="num" onclick="insert('7')">7</button></td>
                    <td><button class="num" onclick="insert('8')">8</button></td>
                    <td><button class="num" onclick="insert('9')">9</button></td>
                    <td><button class="num" onclick="insert('-')">-</button></td>
                </tr>
                <tr>
                    <td><button class="num" onclick="insert('4')">4</button></td>
                    <td><button class="num" onclick="insert('5')">5</button></td>
                    <td><button class="num" onclick="insert('6')">6</button></td>
                    <td><button class="num" onclick="insert('+')">+</button></td>
                </tr>
                <tr>
                    <td><button class="num" onclick="insert('1')">1</button></td>
                    <td><button class="num" onclick="insert('2')">2</button></td>
                    <td><button class="num" onclick="insert('3')">3</button></td>
                    <td rowspan='2'><button class='num' style='height: 16vh;' onclick="calculate()">=</button></td>
                </tr>
                <tr>
                    <td colspan='2'><button class='num' style='width: 100%;'>0</button></td>
                    <td><button class="num" onclick="insert('.')">.</button></td>
                </tr>
            </table>
        </div>
    </div>
    <script type='text/javascript' src="{% static 'js/js.js' %}"></script>
</body>
</html>